*
  outline: 0
  // border: none
  // margin: 0
  // padding: 0
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
::selection
  background: #eee
::-webkit-scrollbar-track 
  box-shadow: inset 0 0 6px rgba(0,0,0,0)
  background-color: #fff
::-webkit-scrollbar 
  background-color: #fff
  width: 4px
::-webkit-scrollbar-thumb 
  border-radius: 4px
  background-color: #ddd
html
  width: 100%
  height: 100%
body
  // font-family: 'Josefin Sans', sans-serif
  font-weight: 400
  width: 100%
  height: 100%
  // opacity: .25
  margin: 0
  background: #f8f8f8
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100%
  font-size: .75vw
i
  font-style: normal
ul
  padding: 0
  height: calc(100vh - 7vw)
  list-style: none
  overflow-y: scroll
.top:not(li)
  overflow: hidden
  border-bottom: 1px solid #ccc
li
  &:hover
    transition: opacity .2s ease
    opacity: .75
li,
.top
  display: grid
  border-bottom: 1px solid #ddd
  grid-template-columns: 3fr 3fr 2fr 1fr // repeat(2, 1fr)
  cursor: pointer
  align-items: center
  &:nth-child(odd)
    background: #fefefe
  > div
    padding: 1vw
    align-items: center
    &:last-child
      white-space: nowrap

.top
  i
    opacity: .5
    padding: 0 .5vw
    font-size: 75%
    display: inline-block
    transition: transform .25s ease
  i.asc
    transform: rotate(60deg)

input,
button
  // font-family: 'Nunito Sans', sans-serif
  font-family: 'Futura', sans-serif
input[type=search]
  border: none
  padding: .8vw 1.2vw
  font-size: 120%
  margin-bottom: 1px 
  // border-bottom: 1px solid white
  &:focus
    background: rgba(255, 255, 235, .5)
    box-shadow: 0 4px 10px -8px #00000080
  &.ok
    background: #e1f6dcaa
a
  cursor: pointer
  &:hover
    opacity: .8
h3
  padding: .8vw 1vw
  font-size: 1vw
  font-weight: normal
  border-bottom: 1px solid #ccc
  display: flex
  align-items: center
  b
    font-size: 85%
    border-radius: 20%
    padding: .16vw .4vw
    background: #fff
    margin-left: .8vw
    font-weight: normal

.players.blured
  li, .top,
    pointer-events: none
  li, .top, h3
    input[type=checkbox]
      display: none
.players:not(.blured)
  li
    &.selected
      background: rgba(32, 88, 175, 0.02)
.players
  .screen,
  .top > div:last-child
    text-align: right
  .top > div:last-child
    padding-right: 2vw
  .top
    border-top: 1px solid #ddd
  li
    & > div:first-child
      max-width: 100%
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
    input[type=checkbox]
      pointer-events: none
    & > div.screen
      &::before
        content: ''
        width: .64vw
        height: .64vw
        border-radius: 50%
        margin: 0 .8vw 0 .2vw
        display: inline-block
        background-color: #ccc
      &.online::before
        background-color: green
  > label
    display: inline-block
    &.hide
      visibility: hidden
  > label
    border-bottom: 0
  > label:first-child
    position: absolute
    top: 0
    right: 0

  h3
    cursor: pointer
    font-size: .8vw
    font-weight: normal
    background: #fcfcfc
    border-bottom: 1px solid #bbb
    -webkit-text-stroke-width: .02vw
    box-shadow: 0 1px 2px 0px #00000012
    &::before
      opacity: .75
      content: "▲"
      font-size: 75%
      margin-right: 1vw
      transition: all .2s ease
      transform: rotate(180deg)
    &.hide::before
      transform: rotate(90deg)
.tags,
.players,
  width: 64%
  vertical-align: top
  display: inline-block
  background: white
  position: relative
  border-left: 1px solid #ccc

  div.hide
    li
      display: none

.triggers.edit
  .trigger
    opacity: .64
    position: relative
    &:last-child
      display: none
    &.active,
    &:hover
      opacity: 1
    &.active
      border: 1px solid #1664d9
    .sub
      width: 100%
      display: block
      padding: 0 .75vw
      text-align: right
      position: relative
      background: #fcfcfc
      border-bottom: 1px dashed #999
      h5
        left: 0
        opacity: .5
        font-size: .8vw
        letter-spacing: .02vw
        position: absolute
        padding: .5vw 1vw
      a
        padding: .5vw
        cursor: pointer
        display: inline-block
    .action
      position: relative
      a
        top: 0
        right: 0
        padding: .5vw .8vw
        position: absolute
        text-decoration: underline

.triggers.run
  position: relative
  .trigger
    margin-top: 1.2vw
    &.active
      right: 0
      width: 23vw
      bottom: .5vw
      position: absolute
      a.run
        position: absolute
        top: 0
        right: 0
        width: 6.8vw
        height: 3vw
        background: #ff000010
      input[type=text]
        font-size: 0
        padding-bottom: 2vw
        background: #fcfcfc
        // display: none
        // visibility: hidden
    input[type=text]
      background: white

    &:hover
      border-bottom: 1px solid #1fad4aee
    & > div
      position: relative
      &:after
        top: 0
        right: 1vw
        padding: .95vw
        position: absolute
        content: 'Ejecutar'
        pointer-events: none
        text-decoration: underline
  .trigger // :not(:last-child)
    .buttons
      display: none

  .predefinidas
    display: none

.triggers
  width: 24%
  height: 100vh
  display: inline-block

  .predefinidas
    padding: .2vw 1vw 0
    text-align: right
    h3
      // margin-bottom: .25vw
    button
      margin: .8vw 0 .4vw

  .trigger
    margin: 2% 
    // font-size: .8vw
    background: white
    position: relative
    border: 1px solid #ccc
    .sub
      display: none
    .command
      border-top: 1px solid #ddd

    .hided
      display: none
    .buttons
      position: absolute
      right: 0
      top: 0
      padding: 0 .6vw
      font-size: 0
      i.fa
        font-size: 1vw
        cursor: pointer
        line-height: 2vw
        padding: .5vw .8vw
        // border: 1px solid #ccc
        &.fa-trash-o
          color: #dd0000
        &.fa-chevron-down,
        &.fa-chevron-up
          font-size: .8vw
        &.fa-copy
          font-size: .9vw
        &.fa-floppy-o.changed
          background: rgba(98, 192, 88, 0.32)

    h3
      font-size: .8vw
      padding: .75vw 1vw
      text-align: center
      border-bottom: 1px solid #eee
      label
        margin-left: 1.2vw
        &:first-child
          margin-left: 0
    input[type=text]
      font-weight: bold
      font-size: .85vw
      padding: 1vw
      width: 100%
      padding-right: 43%
      border: none
      border-bottom: 1px solid #bbb
      &[disabled]
        cursor: pointer
        &:hover
          opacity: .8
    input[type=radio]
      // transform: scale(1.2)
      border: none
      padding: 0
      margin: 0 8%
    label
      width: 24%
      text-align: center
      display: inline-block
      white-space: nowrap
      border: none
      padding: 0
    .screen
      label
        width: 26%
  select
    width: 36%
    margin-left: 2vw
    // transform: scale(1.1)
  .playlists
    z-index: 9
    width: 100%
    position: relative
    input[type=search]
      box-shadow: 0 3px 5px 0 #00000010
      border-top: 1px solid #ddd
      position: relative
      z-index: 999
    ul
      height: auto
      z-index: 99
      width: calc(100% + 2px)
      max-width: calc(100% + 2px)
      max-height: 16vw
      overflow: scroll
      background: white
      overflow-x: hidden
      position: absolute
      margin: 0 -1px
      border: 1px solid #4e37d381
      border-top: 1px solid #ddd
    .loops
      padding: .75vw 1vw
      &:before
        content: 'Loops'
        margin-right: 1vw
    input[type=number]
      width: 4vw
      text-align: center
      padding: .2vw 0
    label
      top: 0
      right: 0
      width: auto
      border: none
      height: 3vw
      display: flex
      position: absolute
      align-items: center
      padding: 0 1.5vw
    .top
      overflow: visible
      position: relative
      grid-template-columns: auto
.trigger:not(.active)
  .playlists
    ul
      display: none

.targets
  padding-bottom: .6vw
.target-tags,
.target-players
  // padding-top: .4vw
  display: inline // -block
  &:empty:after
    color: #999
    padding: .9vw 1vw 1.15vw
    display: block
    // content: 'Sin tags' // : seleccionar targets en la lista'
  div
    // font-size: 90%
    width: auto
    cursor: pointer
    display: inline-block
    padding: .4vw 0 .36vw .8vw
    margin: .6vw 0 0 .8vw 
    -webkit-text-stroke-width: .2px
    &:first-child
      // margin-left: .5vw
    &:hover
      opacity: .75
    &:after
      padding: .3vw .4vw .3vw
      margin: 0 .1vw 0 .22vw
      font-size: 100%
      line-height: 120%
      content: '×'
      content: '✕'
      background: #ffffffa0
      color: black
      font-weight: bold
  i
    color: #999
    display: block
    padding: .8vw 1vw .2vw

.target-players
  // padding-top: 0
  &:empty:after
    // content: 'Sin playerIds' // : seleccionar targets en la lista'
  div
    background: #eee

.tags
  // z-index: 1
  width: 11.5%
  margin-left: -.2%
  padding-left: .2vw
  // border-left: 1px solid rgb(122,122,255)
  *
    z-index: 1
  li,
  .top
    display: block
    input[type=search]
      width: 100%
      margin-bottom: 1px
  div
    width: 100%
    display: flex
    text-align: right
    position: relative
  ul div
    &:before
      z-index: 0
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(to right, #ffffff64 12%, rgba(255,255,255,.0) 64%)

input[type=checkbox]
  margin-right: 1vw
  cursor: pointer
label
  padding: 1.2vw 1.5vw
  // background: white
  display: block
  cursor: pointer
  border-bottom: 1px solid #ddd
  &:hover
    transition: opacity .2s ease
    opacity: .75
u
  font-size: 80%
  position: relative
  padding: .2vw .4vw
  text-decoration: none
  display: inline-block
  -webkit-text-stroke-width: .01vw
button
  cursor: pointer
  margin: 0.8% 2%
  background: white
  padding: .4vw .75vw .45vw
  -webkit-appearance: initial
pre
  padding: 2%
  // opacity: .25
.tabs
  width: 100%
  cursor: pointer
  border-bottom: 1px solid #ccc
  a
    width: 49%
    padding: 1vw
    text-align: center
    display: inline-block
  a.on
    background: white
    font-weight: bold
    border-bottom: 1px solid #1664d9
.toast
  position: fixed
  bottom: 1.2vw
  left: 1vw
  font-size: 1.2vw
  // height: 2vw
  width: 22%
  background: #11771140
  text-align: center
  padding: 2vw
  opacity: 0
  transform: translate3d(0,8vw,0)
  transition: opacity .5s ease, transform .25s ease
  &:not(:empty)
    opacity: 1
    transform: translate3d(0,0,0)