<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
html {
  /* font-family: 'Nunito Sans', sans-serif; */
  /* font-family: 'Hind', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Didact Gothic', sans-serif; */
  font-family: 'Futura', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}
</style>
