<template>
  <div class="container" v-if="res">
    <div class="tags">
      <!-- <label><input v-model="filter.tags" type="checkbox"/> Solo tags en uso</label> -->
      <div class='top'>
        <input v-model="search.tag" placeholder="tags" type="search" />
      </div>
      <ul>
        <li v-for="(t, k) in filteredtags" :key="k+'t'"
          @click="toggle(t)" :class="{ selected: selected(t) }">
          <div :style="{ background: t.toHex() }">
            <input type="checkbox" :checked="selected(t)" />
            <span>{{ t }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="players" :class="{ blured: active.name==='#' }">
      <label><input v-model="filter.players" type="checkbox"/> Ver solo targets</label>
      <label :class="{ hide: active.name=='#' }"><input type="checkbox" @click="toggle('TRIGGERS')"
        :checked="allSelected" /> Seleccionar todos</label>
      <div class='top'>
        <input v-model="search.player" placeholder="Players" type="search" />
        <div>Playlist activa</div>
        <div>Tags</div>
        <div>Screen</div> <!--<i>▲</i></i>-->
          <!-- @click="sorter(sort.players, 'LastUpdate')" -->
      </div>
      <ul>
        <template v-for="(group, id) in groups">
          <div :group="id" :key="'dgrup'+id" :subgroup="id>1 && group.path.includes(groups[id?id-1:0].path)">
            <h3 :key="id+'group'" :group="id" @click="hideGroup(id)">
              <input type="checkbox" @click.stop="toggleGroup(group.id,$event)"
                :checked="group.items.every(p=>active.machineIds&&active.machineIds.includes(p))">
              <!-- {{ group.id }}  -->
              {{ group.name }} <b>{{ group.items.length }}</b>
            </h3>
            <li v-for="(p, k) in group.items" :key="id+'p'+k"
              @click="toggle(p)" :class="{ selected: selected(p) }">
              <div :class="{ online: p.IsPlayerOnline }">
                <input type="checkbox" :checked="selected(p)" />
                {{ p.name }}
              </div>
              <div>{{ p.path }}</div>
              <div v-html="labels(p.tags)"></div>
              <!-- <div>{{ when(p.LastUpdate) }}</div> -->
              <div class="screen" :class="{ online: p.screen }"></div>
            </li>
          </div>
        </template>
      </ul>
    </div>
  
    <div class="triggers" @click="blur" :class="mode">
      <div class="tabs">
        <a @click="mode='run'; filter.players=false" :class="{ on: mode=='run' }">Ejecutar triggers</a>
        <a @click="mode='edit'; filter.players=false" :class="{ on: mode=='edit' }">Editar triggers</a>
      </div>
      <div class="predefinidas">
        <h3>Predefinidas</h3>
        <!-- <select>
          <option value="">Vacia</option>
          <option value="1">Apagar todas las pantallas</option>
          <option value="2">Correr cuenta regresiva (all)</option>
          <option value="3">Apagar pantallas banner</option>
          <option value="4">Cambiar source Pantallas tizen</option>
        </select> -->
        <button @click="triggers.unshift(Object.assign({}, model))">Nuevo trigger</button>
      </div>

      <div class="trigger" v-for="(t, k) in triggers" :key="k+'trigger'"
        @click.stop="selectTrigger(t)" :class="{ active: t === active }">
        <div>
          <input type="text" v-model="t.name" :disabled="mode=='run'" placeholder="Nombre de la acción..">
          <div class="buttons">

            <i title="Details" :class="t.hided ? 'fa-chevron-down' : 'fa-chevron-up'"
            class="fa" @click="t.hided = !t.hided"></i>

            <i title="Duplicar" class="fa fa-files-o"
              @click.stop="triggers.unshift(Object.assign({}, t))"></i>

            <i title="Guardar" class="fa fa-floppy-o" :class="{ changed: changed(t) }"
              @click.stop="saveTrigger(t)"></i>

            <i title="Borrar" class="fa fa-trash-o"
              @click="deleteTrigger(t)"></i>
          </div>

          <div :class="{ hided: t.hided || (mode=='run' && k+1 < triggers.length) }">
  
            <div class="sub">
              <h5>Acciones</h5>
              <a @click="addAction">Nueva acción</a>
            </div>

            <!-- <div class="action" v-for="(t,i) in x.triggers" :key="'a'+i"> -->
            <div class="action">
              <!-- <a @click="deleteAction">Borrar</a> -->
              <div class="targets">

                <a class="run" @click="send()"></a>
                <div class="target-tags">
                  <div v-for="(x,k) in t.tags" :key="k+'tag'"
                    @click="t.tags = t.tags.filter(e=>e!=x)"
                    :style="{ background: x.toHex() }"> {{ x }} </div>
                    <i v-if="t.machineIds && !t.machineIds.length && t.tags && !t.tags.length">Sin targets</i>
                </div>
                <div class="target-players">
                  <div v-for="(m,k) in t.machineIds" :key="k+'player'"
                    @click="t.machineIds = t.machineIds.filter(e=>e!=m)">{{ m.name }}</div>
                </div>
              </div>
              <div class="command">
                <h3>Command
                <select v-model="t.type">
                  <!-- <option value="Source">Change source</option> -->
                  <option disabled value="">Seleccionar acción</option>
                  <option value="Screen">Display on/off</option>
                  <option value="Reboot">Reboot player</option>
                  <option value="Playlist">Run playlist</option>
                </select>
                  <!-- <label v-if="t.type==='Playlist'">
                    <input type="checkbox" v-model="t.Loops"> Loop
                  </label> -->
                </h3>
              </div>
              <!-- <div v-if="t.type==='Source'">
                <div>
                  <h3>
                    <label><input type="radio" v-model="t.Source" value="">Default</label>
                    <label><input type="radio" v-model="t.Source" value="HDMI1">HDMI 1</label>
                    <label><input type="radio" v-model="t.Source" value="HDMI2">HDMI 2</label>
                    <label><input type="radio" v-model="t.Source" value="DVI1">DVI</label>
                  </h3>
                </div>
              </div> -->
              <div v-if="t.type==='Screen'">
                <!-- <div> -->
                  <h3>
                    <label><input type="radio" v-model="t.typex" value="ScreenDefault">Default</label>
                    <label><input type="radio" v-model="t.typex" value="ScreenOff">Apagado</label>
                    <label><input type="radio" v-model="t.typex" value="ScreenOn">Encendido</label>
                  </h3>
                <!-- </div> -->
              </div>
              <div v-if="t.type==='Playlist'">
                <div class="playlists">
                  <div class='top'>
                    <div class="loops"><input type="number" min="0" v-model="t.loops"></div>
                    <input @search="playlist" @keydown="playlist" :class="{ ok: t.playlistId }"
                      v-model="search.playlist" placeholder="Playlist" type="search" />
                    <label v-if="!t.playlistId">
                      <input v-model="filter.playlists" type="checkbox"/> Ver solo disponibles
                    </label>
                  </div>
                  <ul v-if="!t.playlistId"> 
                    <li v-for="(p, k) in filteredPlaylists" :key="k+'pl'"
                      @click.stop="search.playlist = p.name; t.playlistId = p.playlistId">
                      <div>{{ p.name }}</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <pre>{{ JSON.stringify(triggers, null, 1) }}</pre> -->
    <div class="toast">{{ toast }}</div>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
const q = s => document.querySelectorAll(s)
// const base = 'http://10.66.20.3/dextriggers/api' // 
const base = process.env.API_URL || '/dextriggers/api'

export default {
  data() {
    return {
      mode: 'run',
      active: {},
      triggers: [],
      search: {
        playlist: '',
        player: '',
        tag: '',
      },
      tags: [],
      filter: {
        tags: true,
        players: false,
        playlists: true
      },
      sorted: 0,
      sort: {
        tag: [],
        players: [],
        playlist: [],
      },
      res: {},
      toast: '',
      interval: null
    }
  },
  async asyncData ({ params }) {
    let r = await fetch('/api.json') // base + '/network')
    let res = await r.json()
    let pr = await fetch('/presets.json') // base + '/definitions')
    let pres = await pr.json()

    let n = () => Object.assign({
      tags: [],
      machineIds: [],
      playlistId: false,
      type: "Screen",
      loops: 1
    })
    pres.push({ triggers: [{ ...n(), hided: false, live: true }] })
    let triggers = pres.map((t,k) => {
      let { id, name } = t
      let ultimo = k+1 == pres.length

      let ret = {
        id, name,
        // triggers: {
        hided: !ultimo,
        ...t.triggers.map(x => {
          let type = x.type.includes('Screen') ? 'Screen' : x.type
          return { ...x, type, typex: x.type }
        })[0]
        // }
      }
      // if(ultimo) ret.live = true
      return ret
    })
    let presets = JSON.parse(JSON.stringify(triggers))
    let active = triggers[triggers.length-1]// { ...n(), name: '#' };
    return { res, triggers, model: n(), presets, active } //, active: triggers[0] }
  },
  computed: {
    allSelected() {
      return this.active && this.active.tags && this.active.tags.includes('TRIGGERS')
    },
    usedtags() {
      return !this.res ? [] : [...new Set(this.res.machines.filter(m=>this.low(m.tags).includes('triggers')).flatMap(m=>m.tags))]
    },
    filteredPlayers() {
      let string = this.search.player.toLowerCase() // TODO buscar por todos los campos
      let tags = this.low(this.active.tags) // .map(t => t.Name)
      let res = !this.res || !this.res.machines ? [] : _.sortBy(this.res.machines.map(m => {
        let g = this.res.groups.filter(e=>e.groupId==m.groupId)
        return { ...m, path: g.length ? g[0].description : '' }
      }).filter(m => {
        return  (!string || m.name.toLowerCase().includes(string)) && this.low(m.tags).includes('triggers') &&
        (!this.filter.players || (tags && this.low(m.tags).some(n => tags.includes(n)))
        || (this.active.machineIds && this.active.machineIds.map(t => t.machineId).includes(m.machineId)))
      }), ['path'])
      return this.sorted ? res : res.reverse() 
    },
    filteredtags() {
      if(!this.res.machines) return []
      let string = this.search.tag.toLowerCase()
      // let res = !this.res ? [] : this.res.tags
      let res = this.usedtags.filter(t =>
        (!string || t.toLowerCase().includes(string)) && // search
        t.toLowerCase() != "triggers" &&
        // (!string || t.Name.toLowerCase().includes(string)) && // search
        (this.usedtags.includes(t)) // used filter
      )
      return res.reverse()
    },
    filteredPlaylists() {
      let string = this.search.playlist.toLowerCase()
      let usedPlaylists = [...new Set(this.filteredPlayers.flatMap(m => m.playlists))]
      let res = !this.res ? [] : this.res.playlists.filter(p =>
        (!string || p.name.toLowerCase().includes(string)) && p.playlistId > 0 &&
        (!this.filter.playlists || usedPlaylists.includes(p.playlistId))
      )
      return res //.reverse()
    },
    groups(){
      let k = 'groupId'
      const result = {}
      this.filteredPlayers.forEach(p => {
        let g = this.res.groups.filter(e=>e.groupId==p.groupId)
        let path, name = path = '';
        if(g.length) {
          path = name = g[0].description
          let padre = this.res.groups.filter(f => f.groupId == g[0].fatherGroupId)
          if(padre.length) {
            path = padre[0].description + '/' + name
          }
        }
        let id = p[k]
        if (!result[id]) result[id] = { name, id, path, items: [] }
        result[id].items.push(p)
      })
      // window.groups = result
      let res = Object.keys(result).map(i => result[i])
      return _.sortBy(res, ['path']) // .reverse()
    },
  },
  methods: {
    async refresh() {
      let r = await fetch('/api.json') // base + '/network')
      this.res = await r.json()
    },
    addAction() {

    },
    selectAll() {
      console.log('todos')
    },
    format(t) {
      // return this.triggers.map(t => {
        let x = {
          ...t,
          loops: Number(t.loops),
          tags: t.tags, // .map(tag => tag.Name),
          machineIds: t.machineIds.map(m => m.machineId)
        }
        if(t.type!=='Source') delete x.Source
        if(t.type!=='Playlist') delete x.playlistId
        if(t.type==='Screen' && t.typex) x.type = t.typex
        delete x.hided
        delete x.typex
        delete x.live
        return x
      // })
    },
    changed(t) {
      // debugger
      if(!t.id) return false
      let original = this.presets.filter(p => p.id === t.id)
      return original.length ?
        JSON.stringify(this.format(t)) != JSON.stringify(this.format(original[0])) : false
    },
    deleteTrigger(t) {
      console.log(t)
      if(confirm('Borrar!?')) {
        let url = base + '/definitions/' + t.id;
        this.triggers = this.triggers.filter(x => x != t)
        fetch(url, {
          method: 'DELETE',
          headers: { 'Content-type': 'application/json' }
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));
      }
    },
    saveTrigger(t) {
      let { id, name } = t
      let data = {
        id, name, triggers: [this.format(t)]
      }
      // console.log(JSON.stringify(data, null, 1))
      let url = base + '/definitions';
      fetch(url, {
        method: 'PUT',
        body: JSON.stringify(data),
        headers: { 'Content-type': 'application/json' }
      }).then(res => {
        this.showToast('Trigger guardado')
      })
      .catch(error => {
        this.showToast(error.message)
        console.error('Error:', error)
      })
    },
    selectTrigger(t) {
      if(this.mode=='edit' || t.live) {
        this.active = t;
        // this.filter.players = t.tags.length || t.machineIds.length
        if(t) {
          let pl = this.res.playlists.filter(p => p.playlistId == t.playlistId)
          if(pl.length) this.search.playlist = pl[0].name
          else this.search.playlist = ''
        } else this.search.playlist = ''
      } else {
        this.send(t.id)
      }
    },
    // copy(x) {
    //   return Object.assign({}, x)
    // },
    showToast(msg) {
      this.toast = msg
      setTimeout(() => {
        this.toast = ''
      }, 2000);
    },
    send(id) {
      let url = base + '/triggers';
      let opt = {
        method: 'PUT',
        body: JSON.stringify([this.format(this.active)]),
        headers: { 'Content-type': 'application/json' }
      }
      if(id) {
        url += '/' + id
        delete opt.body
      }
      fetch(url, opt).then(res => {
        this.showToast('Trigger enviado')
      })
      .catch(error => {
        this.showToast(error.message)
        console.error('Error:', error)
      })
      // .then(response => console.log('Success:', response));
    },
    hideGroup(e) {
      let list = q('[group="'+e+'"]')
      if(list.length) {
        let state = list[0].classList.contains('hide')
        list.forEach(e => {
          if(state) {
            e.classList.remove('hide')
          } else {
            e.classList.add('hide')
          }
        })
      }
    },
    toggleGroup(id,evt) {
      let items = this.filteredPlayers.filter(e => e.groupId == id)
      debugger
      if(evt.target.checked) {
        this.active.machineIds = [
        ...this.active.machineIds,
        ...items.filter(e => !this.active.machineIds.includes(e)),
        ]
      } else {
        this.active.machineIds = this.active.machineIds.filter(e => {
          return !items.includes(e)
        })
      }
    },
    playlist() {
      this.active.playlistId = this.filteredPlaylists.filter(p =>
        p.name === this.search.playlist).playlistId
    },
    del(e, array) {
      array = array.filter(d => d != e)
    },
    sorter(arr, key) {
      console.info('create trigger')
    },
    toggle(e) {
      let x = typeof e === 'string' ? 'tags' : 'machineIds'
      if(!this.selected(e)) {
        this.active[x].push(e)
      } else {
        this.active[x] = this.active[x].filter(d => d != e) // borro
      }
      if(x === 'tags') { // onthis.in tag toggled, set player filter
        this.filter.players = !!this.active[x].length
      }
    },
    low(arr) {
      return arr.map(z=>z.toLowerCase())
    },
    selected(e) {
      let x = typeof e === 'string' ? 'tags' : 'machineIds'
      let tags = this.low(this.active.tags) // .map(t => t.Name)
      // console.log('selected', e.Tag)
      return x === 'tags' ? this.active[x] && this.low(this.active[x]).includes(e.toLowerCase()) :
        (this.active[x] && this.active[x].map(m=>m.machineId).includes(e.machineId))
        || (tags && e.tags && this.low(e.tags).some(t => tags.includes(t)))
    },
    when(date) {
      return moment(date).fromNow() // ej: 'hace 3 min'
    },
    labels(arr) {
      return !arr ? '' : arr.filter(x=>x.toLowerCase()!="triggers")
        .map(e=> '<u style="background: '+e.toHex()+'">'+e+'</u>').join('')
    },
    groupName(id) {
      let g = this.res.groups.filter(e=>e.groupId==id)
      return g.length ? g[0].description : ''
    },
    blur() {
      if(this.mode=='edit') {
        this.active = JSON.parse(JSON.stringify({ ...this.model, name: '#' }));
        this.filter.players = false
      } else {
        this.active = this.triggers[this.triggers.length-1]
      }
    }
  },
  mounted() {
    this.interval = setInterval(() => {
      this.refresh()
    }, 10 * 1000);
  }
}
String.prototype.toHex = function() {
    var hash = 0;
    if (this.length === 0) return hash;
    for (var i = 0; i < this.length; i++) {
        hash = this.charCodeAt(i) + ((hash << 5) - hash);
        hash = hash & hash;
    }
    var color = '#';
    for (var i = 0; i < 3; i++) {
        var value = (hash >> (i * 8)) & 255;
        color += ('00' + value.toString(16)).substr(-2)
    }
    return color + '40';
}
</script>

<style lang="sass" src="../assets/main.sass"></style>
